   /* Remove the navbar's default margin-bottom and rounded borders */ 
   .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f00686;
    padding: 55px;
  }
  .jumbotron{
    background-color: #f7badb;
  }

  .navbar{
    background-color: #fce4f1;
  }

  .contenedor{
    background-color: #f8329f;
    margin-bottom: 10Spx;
    border-radius: 12px;
  }
  .parrafo{
    background-color: #f7a2d1;
    margin-top: initial;
    border-radius: 50px;
    padding: 55px;
  }
  .img-responsive{

  }